/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
  font-size: 10px;
  font-family: -apple-system, 'Inter', Segoe UI, sans-serif;
  /* font-family: Roboto, sans-serif; */
}

html,
body {
  padding: 0;
  margin: 0;
  background: #446985;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
